@import "./mobile.css";
@import "./desktop.css";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #979db6;
}

a, span {
	display: inline-block;
}

span {
	color: #8b93ca;
}

ul, ol {
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1.1rem;
}

button {
	margin: 0;
	border: 0;
	background-color: transparent;
}

img {
	display: block;
	max-width: 100%;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #404468;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #7480ad;
}

@font-face {
   font-family: Poppins;
   src: url("../fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
   font-family: Comfortaa;
   src: url("../fonts/Comfortaa/Comfortaa-Regular.ttf");
}

body {
	font-size: 1rem;
	font-family: Poppins;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #f5f6fb;
	
}

/* Code */
.box_icon {
	display: flex;
	align-items: center;
	padding: 0.3rem 1rem;
	border-radius: .3rem;
	background-color: #8B24F3;
	& span {
		padding: 0 .6rem;
		color: #dfe4ed;
		font-weight: 600;
		font-size: 1rem;
	}
}
.text-slate-400 {
	color: #6e7a8b;
}
.text-slate-700 {
	color: #334155;
}

.relative {
	position: relative;
}

.hover\:text-slate-100:hover {
	transition: .3s;
	color: #dfe4ed;
	cursor: pointer;
}
 
.hover\:opacity:hover .code_copy {
	opacity: 1;
	display: block;
	transition: .3s;
}
.code_copy {
	position: absolute;
	top: -50px;
	opacity: 0;
	display: none;
}


.copy_msg {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: .6rem 1rem;
	margin-bottom: .6rem;
	border-radius: .4rem;
	transition: .2s;
	font-size: 1.2rem;
	background-color: #8B24F3;

	& span {
		color: #fff;
	}
}
