.mainHeader {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: #761d99;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.6rem;
}
.navbar .navbar_logo {
  padding: 0.3rem 0.4rem;
  font-size: 1.2rem;

  & a {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #f1eff7;
    font-family: Comfortaa;
  }

  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: auto;
    height: 35px;
    padding: 0 0.3rem;
    border-radius: 35px;
  }
}

.navbar_menu {
  display: flex;
  justify-content: center;

  & ul {
    display: flex;
  }

  & ul > li {
    display: flex;
    line-height: 2.6rem;
  }

  & ul > li > a {
    display: flex;
    padding: 0 0.8rem;
    color: #c7cfe9;
    font-size: 1rem;
    font-weight: 600;
    font-family: Comfortaa;
  }
}

main {
  flex: 1;
}

.container {
  width: min(94vw, 70rem);
  margin: auto;
}

.mainHome {
  position: relative;
  width: 100%;
  padding: 2rem 0;
  background-image: linear-gradient(to top right, #dac5ef 0%, #761d99 100%);
  background-color: #ac71e7;
}
.content_lisan {
  display: flex;

  & p {
    max-width: 65%;
    padding: 0 0.6rem;
    font-size: .925rem;
    color: #dce2ef;
  }
  & span {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    background-color: #8b24f3;
  }
  & a {
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    margin: 0.6rem 0;
    color: #1e2e51;
    font-weight: 600;
    font-size: .9rem;
    background-color: rgb(239, 233, 245);
  }
}
.lisan {
  width: 100%;
  max-width: 150px;
  min-height: 200px;
  background: url("../../../public/images/lisan.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  filter: sepia(60%);
}
.wrapper_value {
  display: flex;
  flex-direction: column;
 align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 1.1rem;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dce2ef;

  & p {
    margin-bottom: 1rem;
    font-weight: 600;
    color: #7f88a2;
    font-size: 1rem;
    text-align: center;
  }
  & span {
    color: #7680ab;
    font-size: 1.2rem;
    align-self: center;
    font-weight: 600;
    letter-spacing: 3px;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    background-color: #30385d;
  }
  & strong {
    margin-top: .8rem;
    color: #636c8c;
    font-size: 1rem;
    text-align: center;
  }
}

.lisangela {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.img_lisan {
  width: 200px;
  height: 200px;
  background: url("../../../public/images/lisan.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  filter: sepia(60%);
}

.content_text {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: .6rem;
  background-color: #7a3eaa;

  & h2 {
    font-size: 1.2rem;
    color: #dde3f6;
    margin-bottom: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  & p {
    font-size: .9rem;
    color: #d5d9e7;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: Comfortaa;
  }
}
