.mainHeader {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  background-color: var(--bgHome);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 2.6rem;
}
.navbar_logo {
  display: flex;
  margin:  auto;
  padding: 0.3rem 0.4rem;
  font-size: 1.2rem;

  & a {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #f1eff7;
    font-family: Comfortaa;
  }

  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    width: auto;
    height: 35px;
    padding: 0 0.3rem;
    color: #b29df2;
    border-radius: 35px;
  }
}

.navbar_menu {
  display: flex;
  justify-content: center;

  & ul {
    position: absolute;
    top: 2.8rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    background-color: #C7CFE9;
  }

  & ul > li {
    display: flex;
    line-height: 2rem;    
  }
  & ul > li:last-child {
    border-bottom: none;
  }

  & ul > li > a {
    display: flex;
    padding: 0 1rem;
    color: #e5e6f3;
    font-size: .9rem;
    font-weight: 600;
    font-family: Comfortaa;
    background-color: #781FD2;
  }
  .bg-link {
    display: flex;
    width: 100%;
    color: #2d2f47;
    transition: .3s;
    background-color: #edeff3;
  }
}



main {
  flex: 1;
}

.container {
  width: min(94vw, 70rem);
  margin: auto;
}

section.mainHome {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 3rem);
  padding-top: var(--height_section);
  background-color: var(--bgHome);
  background-image: linear-gradient(to right, #f9f7fa 0%, #e0eaf9 100% );
}
.efect_1 {
  position: absolute;
  top: 0;
  left: 10%;
  z-index: 0;
  box-shadow: 
    0 0rem 15rem 4rem rgb(164, 90, 230),
    0 5rem 15rem 3rem #cdd2e0;
}
.efect_2 {
  position: absolute;
  top: 20%;
  left: 10%;
  z-index: 0;
  box-shadow: 0 4rem 11rem 3rem #7a0ae9;
}
.content_lisan {
  display: flex;

  & p {
    max-width: 65%;
    padding: 0 0.6rem;
    font-size: 0.925rem;
    color: #1c222f;
  }
  & span {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    margin-top: 0.6rem;
    margin-bottom: 1rem;
    color: #eae8f3;
    background-color: #8b24f3;
  }
  & em {
    font-size: 1.rem;
    color: #3e6ecd;
  }
  & a {
    padding: 0.4rem 0.6rem;
    border-radius: 0.4rem;
    margin: 0.6rem 0;
    color: #1e2e51;
    font-weight: 600;
    font-size: 0.9rem;
    background-color: rgb(239, 233, 245);
  }
}
.lisan {
  width: 100%;
  max-width: 150px;
  min-height: 200px;
  background: url("../../../public/images/lisan.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  filter: sepia(60%);
}
.wrapper_value {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 1.1rem;
  border-radius: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #dce2ef;

  & p {
    margin-bottom: 0.4rem;
    color: #18191b;
    font-size: 1.2rem;
    text-align: center;
  }
  & pre {
    color: #7680ab;
    font-size: 0.8rem;
    align-self: center;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  & strong {
    margin-top: 0.3rem;
    color: #4c5168;
    font-weight: 400;
  }
}
.code {
  display: flex;
  flex-direction: column;
  & button {
    color: #eae8f3;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.4rem;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #8b24f3;
  }
}

section.sectionProject {
  padding-top: var(--height_section);
}
.lisangela {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.img_lisan {
  width: 200px;
  height: 200px;
  background: url("../../../public/images/lisan.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 1rem;
  filter: sepia(60%);
}

.content_text {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
  background-color: #7a3eaa;

  & h2 {
    font-size: 1.2rem;
    color: #dde3f6;
    margin-bottom: 1rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  & p {
    font-size: 0.9rem;
    color: #d5d9e7;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: Comfortaa;
  }
}

section.sectionConstrucao {
  padding-top: var(--height_section);
  padding-bottom: 1rem;
  background-color: #c7cfe9;
}
.project_construct {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border-radius: .5rem;
  background-color: #eae8f3;

  & h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -5px;
    color: #6f779b;
  }
  & span {
    margin-right: .3rem;
    color: #781FD2;
  }
  & h3 {
    position: relative;
    font-size: 1rem;
    color: #2e3247;

    & span {
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100px;
      height: 2px;
      border-radius: 5px;
      background-color: #4d1d99;
    }
  }

  .estrutura {
    padding: 1rem 0;
    max-width: 90%;

    & ul > li  {
      color: #878e9c;
      font-size: .9rem;
    }
    & ul > li > em  {
      color: #202838;
      font-size: 1rem;
    }
  }
}
